services:
  backend:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: easyticket_backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
    env_file:
      - .env
    ports:
      - "8000:8000"
    networks:
      - easyticket_network
    restart: unless-stopped

networks:
  easyticket_network:
    driver: bridge

volumes:
  static_volume:
  media_volume: